@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** font **/

.playwrite-us-modern-400 {
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

